<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56743880829-vbk7mvf61df5koi6jd2efkoclm58pef0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56743880829-vbk7mvf61df5koi6jd2efkoclm58pef0</string>
	<key>API_KEY</key>
	<string>AIzaSyDq1AN2YcGlhXXXvZ-HaWJ8llD5k4Iy5kk</string>
	<key>GCM_SENDER_ID</key>
	<string>56743880829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>amquizapp</string>
	<key>STORAGE_BUCKET</key>
	<string>amquizapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56743880829:ios:74a4be8d71c17000976914</string>
</dict>
</plist>